html{
    height: 100%;
}

header {
    background-color: #ffb775;
}

main {
    background-color: #ffe3af;
}

footer {
    background-color: #ffb775;
}

#formulario {
    background-color: #ff9a3b;
}

#formulario button {
    background-color: #ff7c10;
    border: 0px;
}
